.app.dark {
  --bg-color: #1b1b1f;
  --bg-color-secondary: #161618;

  --primary-color: #fff;
  --secondary-color: #a3a3a3;

  --link-color: #fffff5db;
  --link-color-hover: #9499ff;

  --divider-color: #000000;
}