.app.light {
  --bg-color: #fff;
  --bg-color-secondary: #f6f6f7;

  --primary-color: #3c3c43;
  --secondary-color: #3c3c43c7;

  --link-color: #3451b2;
  --link-color-hover: #9499ff;

  --divider-color: #e2e2e3;
}